<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>ClassName</key>
		<string>ProvinceVC</string>
		<key>ItemName</key>
		<string>省情</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>icon_home</string>
			<key>selected</key>
			<string>icon_home_selected</string>
			<key>hightlight</key>
			<string>icon_home_selected</string>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>ClassName</key>
		<string>ReleaseHomeVC</string>
		<key>ItemName</key>
		<string>发布</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>icon_course</string>
			<key>selected</key>
			<string>icon_course_selected</string>
			<key>hightlight</key>
			<string>icon_course_selected</string>
		</dict>
	</dict>
	<key>2</key>
	<dict>
		<key>ClassName</key>
		<string>ReadHomeVC</string>
		<key>ItemName</key>
		<string>阅读</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>icon_gift</string>
			<key>selected</key>
			<string>icon_gift_r</string>
			<key>hightlight</key>
			<string>icon_gift_r</string>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>ClassName</key>
		<string>ContactHomeVC</string>
		<key>ItemName</key>
		<string>联系</string>
		<key>imageNames</key>
		<dict>
			<key>normal</key>
			<string>icon_bag</string>
			<key>selected</key>
			<string>icon_bag_r</string>
			<key>hightlight</key>
			<string>icon_bag_r</string>
		</dict>
	</dict>
</dict>
</plist>
